<!-- Agarra el archivo base.html, le reemplaza los bloques slider y content -->
{% extends 'core/base.html' %}
{% load static %}

{% block slider %}
<div class="row slider">
	<div class="col">
		<img src="{% static 'core/img/contact-img.jpg' %}" class="w-100" alt="Responsive image">
	</div>
</div>
{% endblock %}

{% block content %}
{% for contact in contacts %}
<main>
	<!--Acerca de - contenido -->
	<div class="container">
		<div class="row contenedor">
			<div class="col">
			{% load about_extra %}
			{% get_about as abouts %}
			{% for about in abouts %}
				<h2 class="titulo">Contactar a {{ about.name }}</h2>
			{% endfor %}
				<div class="row contacto justify-content-center align-items-center">
					<div class="col-12 col-lg-2 col-md-2">
						<a href="https://github.com/D4rkam" target="_blank" class="icono icon-phone phone"></a>
					</div>
					<div class="col-12 col-lg-3 col-md-3">
						<p class="text-center">{{ contact.num_telefono }}</p>
					</div>
					<div class="col-12 col-lg-7 col-md-7">
						<p>{{ contact.descripcion_tel }}</p>
					</div>
				</div>

				<div class="row contacto justify-content-center align-items-center">
					<div class="col-12 col-lg-2 col-md-2">
						<a href="https://github.com/D4rkam" target="_blank" class="icono icon-mail mail"></a>
					</div>
					<div class="col-12 col-lg-3 col-md-3">
						<p class="text-center">{{ contact.email }}</p>
					</div>
					<div class="col-12 col-lg-7 col-md-7">
						<p>{{ contact.descripcion_email }}</p>
					</div>
				</div>

				<div class="row contacto justify-content-center align-items-center">
					<div class="col-12 col-lg-2 col-md-2">
						<a href="https://github.com/D4rkam" target="_blank" class="icono icon-whatsapp whatsapp"></a>
					</div>
					<div class="col-12 col-lg-3 col-md-3">
						<p class="text-center">{{ contact.num_whatsapp }}</p>
					</div>
					<div class="col-12 col-lg-7 col-md-7">
						<p>{{ contact.descripcion_whatsapp }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endfor %}
{% endblock %}